@import 'tailwindcss';

@theme {
    --breakpoint-mobile: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;

    --color-lsa-borders: #d9d9d9;
    --color-lsa-dark-gray: #333333;
    --color-lsa-grey: #737373;
    --color-lsa-light-purple: #efebff;
    --color-lsa-purple-hover: #beadff;
    --color-lsa-purple: #633cff;
    --color-lsa-red: #ff3939;

    --shadow-lsa-purple-blur: 0 0 32px rgba(99, 60, 255, 0.25);
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('./assets/fonts/instrument_sans.ttf') format('truetype');
}

html {
    height: 100%;
    font-family: 'Instrument Sans';
}

body {
    height: 100%;
}

#root {
    height: 100%;
}
