@import 'tailwindcss';

@theme {
    --color-lsa-red: #ff3939;
}

@font-face {
    font-family: 'Instrument Sans', serif;
    src: url('./assets/fonts/instrument_sans.ttf') format('truetype');
}

html {
    font-family: 'Instrument Sans';
}
