@import 'tailwindcss';

@theme {
    --color-lsa-borders: #d9d9d9;
    --color-lsa-purple: #633cff;
    --color-lsa-red: #ff3939;

    --breakpoint-mobile: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;
}

@font-face {
    font-family: 'Instrument Sans', serif;
    src: url('./assets/fonts/instrument_sans.ttf') format('truetype');
}

html {
    height: 100%;
    font-family: 'Instrument Sans';
}

body {
    height: 100%;
}

#root {
    height: 100%;
}
